
html { 
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url('https://media.giphy.com/media/x5DMgtkXuA3JK/giphy.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Karla', sans-serif;

    cursor: url('https://i.imgur.com/mAjwtNY.png') 16 16, auto;
  }

body {
    /* background-color: black; */
    /* background-image: url('https://media.giphy.com/media/l0Iy2h5eJLf4O2b4c/giphy.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    font-family: 'Karla', sans-serif;

}

@keyframes fadein {
    0% {
        opacity: 0;
        top: 0px;
    }

    100% {
        opacity: 1;
        top: -10px;
    }
}

.fadein {
    animation-name: fadein;
    animation-duration: 2s;
}


#container {
  position: relative;

}

  #welcome-splash {
    position: absolute;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
  }

  #welcome-splash button {
    padding: 15px 10px;
    background-color: #e8689b;
    font-size: 16px;
    color: white;
  }

  #welcome-splash button:hover {
    background-color: #ffd224;
    color: #292929;
    cursor: pointer;
  }

  #score-card {
    position: absolute;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
  }

  .hide {
    display: none !important;
  }